/* Universal Styles */
* {

}

/* Body */

body {
  background-color: black;
}

#main-container {
  display: block;
  width: 1280px;
  height: auto;
  margin: auto;
}

#header {
  display: flex;
  color: black;
  padding: 10px;
  justify-content: center;
  margin: 10px;
}

#header img {
  width: 10%;
  height: 10%;
}

/*#header jumbotron {
  font-size: 50px;
  color: black;
  margin: 3% 2%;
  font-family: 'American Typewriter';
} */

#container {
  width: 100%;
  height: 600px;
  background-color: white;
  text-align: center;
}

#container .hover {
  border: 10px dotted #39FF14;
  background-color: black;
}

#container .hover:hover {
  background-color: white;
}

#container .hovertext {
  height: 5%;
  padding: 3%;
  background-color: white;
  padding-bottom: 5%;
}

#container .hovertext h1 {
  font-family: fantasy;
}
/*#container .hovertext:hover {
  background-color: white;
}*/

#container h1 {
  font-size: 40px;
  padding-bottom:
}

#container .hovertext p{
  font-size: 15px;
  padding-bottom: 3%;
  font-style: italic;
}
#container .padding-top {
  padding-top: 5%;
}

#container h2 {
  font-size: 30px;
  padding: 4%;
}

#explanation {
  margin: auto;
  margin-top: 5.8%;
  width: 70%;
  border: 5px solid black;
  margin-bottom: 2%;
}

#explanation p {
  font-size: 25px;
  line-height: 35px;
}

#explanation .example {
  font-weight: bold;
}

#content {
  display: block;
  width: 100%;
  height: 400px;
  background-image: url("../images/construction.png");
  background-size: cover;
}

#content .construction {
  font-size: 50px;
  text-align: center;
  padding: 1%;
  color: white;
  font-weight: bolder;
  font-family: monospace;
}

.content-box {
  padding-top: 5%;
}

#content-2 {
  margin: auto;
  width: 1280px;
  height: 300px;
  background-color: #39FF14;
  padding-top: 10%;
}

#content-2 h1 {
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 100px;
  border: 10px dashed black;
  font-family: fantasy;
}

/* Footer */
footer {
  width: 1280px;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 0.5%;
  background-color: white;
}

footer p {
  margin: 10px;
  padding-left: 1%;
}

footer a {
  text-decoration: none;
}
